#top {
    width: 800px; /* 横幅を800pxにする [1] */
    background-color: #dcc9f4; /* 背景色を#dcc9f4にする [1] */
    margin: 20px auto; /* 上下に20pxの余白を入れ、画面の中央に配置する [1] */
    text-align: center; /* 中にあるp要素を中央揃えにする [1] */
}

.top-child {
    width: 20%; /* 横幅を親要素の20%にする [1] */
    background-color: #ffd9df; /* 背景色を#ffd9dfにする [1] */
    display: inline-block; /* 3つのp要素を横並びにする [1] */
}
/* Step4-1. 真ん中の図形のデザインを調整 */

/* 親要素（id名「middle」）への装飾 */
#middle {
    width: 800px; /* 横幅を800pxにする [1], [2] */
    height: 800px; /* 高さを800pxにする [1], [2] */
    margin: 20px auto; /* 上下に20pxの余白を入れ、画面の中央に配置する [1], [2] */
    background-color: #ffd9df; /* 背景色を#ffd9dfにする [1], [2] */
}

/* 子要素（id名「middle-child01」「middle-child02」「middle-child03」）への共通装飾 */
#middle-child01,
#middle-child02,
#middle-child03 {
    width: 200px; /* 横幅を200pxにする [1], [2] */
    height: 200px; /* 高さを200pxにする [1], [2] */
    background-color: #87ceeb; /* 背景色を#87ceebにする [1], [2] */
}
/* Step4-2. 真ん中の図形の位置を指定 */

/* 親要素に位置の基準となる設定を追加 */
#middle {
    position: relative; /* 子要素の配置の基準にするため追加 [1], [2] */
}

/* 各子要素の配置を個別に指定 [1], [2] */
#middle-child01 {
    position: absolute;
    top: 100px;
    left: 100px;
}

#middle-child02 {
    position: absolute;
    top: 300px;
    left: 300px;
}

#middle-child03 {
    position: absolute;
    top: 500px;
    left: 500px;
}
/* Step4-2. 真ん中の図形の位置を指定 */

/* 親要素に位置の基準となる設定を追加 */
#middle {
    position: relative; /* 子要素の配置の基準にするため追加 [1], [2] */
}

/* 各子要素の配置を個別に指定 [1], [2] */
#middle-child01 {
    position: absolute;
    top: 100px;
    left: 100px;
}

#middle-child02 {
    position: absolute;
    top: 300px;
    left: 300px;
}

#middle-child03 {
    position: absolute;
    top: 500px;
    left: 500px;
}
/* Step4-2. 真ん中の図形の位置を指定 */

/* 親要素に位置の基準となる設定を追加 */
#middle {
    position: relative; /* 子要素の配置の基準にするため追加 [1], [2] */
}

/* 各子要素の配置を個別に指定 [1], [2] */
#middle-child01 {
    position: absolute;
    top: 100px;
    left: 100px;
}

#middle-child02 {
    position: absolute;
    top: 300px;
    left: 300px;
}

#middle-child03 {
    position: absolute;
    top: 500px;
    left: 500px;
}
/* Step5-1. 一番下の図形のデザインを調整 */

/* 親要素（id名「bottom」）への装飾 */
#bottom {
    width: 800px; /* 横幅を800pxにする [1] */
    height: 300px; /* 高さを300pxにする [1] */
    background-color: #87ceeb; /* 背景色を#87ceebにする [1] */
    margin: 20px auto; /* 画面の中央に配置する [1] */
}

/* 子要素（id名「bottom-child01」「bottom-child02」「bottom-child03」）への共通装飾 */
#bottom-child01,
#bottom-child02,
#bottom-child03 {
    width: 400px; /* 横幅を400pxにする [1] */
    height: 100px; /* 高さを100pxにする [1] */
    background-color: #e5dcf0; /* 背景色を#e5dcf0にする [1] */
}
/* Step5-2. 一番下の図形の位置を指定 */

/* 2つ目の図形を本来の場所から左に200pxずらす */
#bottom-child02 {
    position: relative;
    left: 200px;
}

/* 3つ目の図形を本来の場所から左に400pxずらす */
#bottom-child03 {
    position: relative;
    left: 400px;
}


